@import "tailwindcss";

/* Tema: Hacker Minimalist 
  Aquí definiremos variables más adelante, 
  por ahora inicializamos el motor.
*/
:root {
  --color-brand-primary: #22c55e; /* green-500 */
  --color-brand-bg: #0a0a0a;
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
  background-color: var(--color-brand-bg);
  color: white;
}