@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-primary: #22c55e;
  --color-brand-bg: #0a0a0a;
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
}

/* CSS */
:root {
  background-color: var(--color-brand-bg);
  color: white;
}